/JavaApplication7/nbproject/private/
/JavaApplication7/dist/
/JavaApplication7/build/
/Java-Teoria/Colecciones/nbproject/private/
/Java-Teoria/Colecciones/dist/
/Java-Teoria/Colecciones/build/
/Java-Teoria/Limpiar Buffer/nbproject/private/
/Java-Teoria/Limpiar Buffer/build/
/Java-Teoria/Variable Local - Global/nbproject/private/
/Java-Teoria/Variable Local - Global/build/
/Ejercicios Colecciones/JavaApplication14/nbproject/private/
/Ejercicios Colecciones/JavaApplication15/nbproject/private/
/Ejercicios Colecciones/Ejercicio1/nbproject/private/
/Ejercicios Colecciones/Ejercicio1/build/
/Ejercicios Colecciones/Ejercicio1/dist/
/Ejercicios Colecciones/Ejercicio3/nbproject/private/
/Ejercicios Colecciones/Ejercicio3/build/
/Ejercicios Colecciones/Ejercicio3/dist/